body {
	background-color: #20aaa0;
	color: #ffffff;
	text-align: bottom left;
	margin-top: 80px;
}
button {
background-color: #ffffff;
border: none;
color: #20aaa0;
padding: 15px 32px;
margin-left: auto;
display: inline-block;
font-size: 18px;
}

table, td {
  border: 1px solid black;
}
